{
    "plugins": ["stylelint-prettier"],
    "rules": {
        "prettier/prettier": true
    },
    "extends": [
        "stylelint-config-sass-guidelines",
        "stylelint-a11y/recommended",
        "stylelint-prettier/recommended"
    ]
}