.uk-container.uk-container-medium
    nav.uk-navbar-container(uk-navbar)
        .uk-navbar-left
            .uk-navbar-nav
                a.uk-navbar-item.uk-logo(href='#') Logo

        .uk-navbar-right
            ul.uk-navbar-nav
                li.uk-active
                    a(href='#') Home
                li
                    a(href='#') About
